<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Candidate Profile</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td>Name: </td>
                    <td>{{resumeDetails()?.candidateName}}</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>{{resumeDetails()?.candidateEmail}}</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>{{resumeDetails()?.candidateMobile}}</td>
                </tr>
                <tr>
                    <td>Resume: </td>
                    <td><a [href]="'https://localhost:7147/'+resumeDetails()?.resumeUsedUrl">View Resume</a></td>
                </tr>
                <tr>
                    <td>Status: </td>
                    <td>{{resumeDetails()?.applicationStatus}}</td>
                </tr>
                <tr>
                    <td>Analyzed On: </td>
                    <td>{{resumeDetails()?.analyzedOn | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

<div class="divider">
    <div class="divider-text">Resume Analysis</div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="demo-inline-spacing text-center">
                    <p class="card-text">
                        <span
                            class="badge badge-center rounded-pill bg-label-primary fs-1 p-5 fw-bold w-25 h-25">{{resumeDetails()?.matchedScore}}%</span>
                    </p>
                    <h5 class="card-title">Match Score</h5>
                    <p class="card-text">Overall compatibility</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                            [style]="'width: '+resumeDetails()?.matchedScore+'%'" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Experience</h5>
                <p class="card-text text-success fw-bold fs-4">
                    {{resumeDetails()?.experience}}
                </p>
                <p class="card-text">
                    extracted from resume
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Skills Matched</h5>
                <p class="card-text">
                    @for (item of resumeDetails()?.skillsMatched; track $index) {
                    <span class="badge rounded-pill bg-label-success m-1">{{item}}</span>
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Missing Skills</h5>
                <p class="card-text">
                    @for (item of resumeDetails()?.missingSkills; track $index) {
                    <span class="badge rounded-pill bg-label-danger m-1">{{item}}</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">AI Suggestions</h5>
                @for (item of resumeDetails()?.aiSuggestions; track $index) {
                <div class="alert alert-secondary" role="alert">{{item}}</div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <button (click)="ChangeApplicationStatus('Shortlisted')" type="button" class="btn rounded-pill btn-primary mx-1 w-25">Shortlist Candidate</button>
                <button (click)="ChangeApplicationStatus('Rejected')" type="button" class="btn rounded-pill btn-danger mx-1 w-25">Reject Candidate</button>
            </div>
        </div>
    </div>
</div>