<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Update Existing Job</h5>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="EditJobForm" (ngSubmit)="UpdateJob()">
                    <div class="mb-3">
                        <label class="form-label">Job Title</label>
                        <input type="text" class="form-control" formControlName="jobTitle">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Featured Image</label>
                        <input type="file" class="form-control" (change)="onFileChange($event)">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vacancy</label>
                        <input type="number" class="form-control" formControlName="vacancy">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employment Status</label>
                        <select class="form-control" formControlName="employmentStatus">
                            <option ngValue="">-- Select --</option>
                            <option ngValue="Part Time">Part Time</option>
                            <option ngValue="Full Time">Full Time</option>
                            <option ngValue="Contract">Contract</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Experience</label>
                        <input type="text" class="form-control" formControlName="experience">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job Location</label>
                        <select class="form-control" formControlName="jobLocation">
                            <option value="">Select Location</option>
                            @for (c of ListofCampuses(); track c.campusId) {
                            <option [value]="c.campusName">
                                {{ c.campusName }}
                            </option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Salary</label>
                        <input type="text" class="form-control" formControlName="salary">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <select class="form-control" formControlName="gender">
                            <option>-- Select --</option>
                            <option>Any</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Published on</label>
                        <input type="date" class="form-control" formControlName="publishedOn">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Application Deadline</label>
                        <input type="date" class="form-control" formControlName="applicationDeadline">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Campus</label>
                        <select class="form-control" formControlName="campusId">
                            <option value="">Select Campus</option>
                            @for (c of ListofCampuses(); track c.campusId) {
                            <option [value]="c.campusId">
                                {{ c.campusName }}
                            </option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-control" formControlName="departmentId">
                            <option value="">Select Department</option>
                            @for (d of ListofDepartments(); track d.departmentId) {
                            <option [value]="d.departmentId">
                                {{ d.departmentName }}
                            </option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Job Description</label>
                        <textarea class="form-control" id="editor-jd" formControlName="jobDescription"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Responsibilities</label>
                        <textarea class="form-control" id="editor-r" formControlName="responsibilities"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Education + Experience</label>
                        <textarea class="form-control" id="editor-ee"
                            formControlName="educationAndExperience"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Other Benifits</label>
                        <textarea class="form-control" id="editor-ob" formControlName="otherBenefits"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Job</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor-jd'))
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor-r'))
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor-ee'))
        .catch(error => {
            console.error(error);
        });
</script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor-ob'))
        .catch(error => {
            console.error(error);
        });
</script>